{% extends "geonode_base.html" %}

{% load i18n %}
{% load staticfiles %}
{% block title %} {% trans "About" %} — {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "About" %}</h2>
</div>
<p>
{% blocktrans %}
The Chiang Mai University  School of Public Policy (CMU - SPP) has been active on a number of issues that have local and regional policy implications. SPP produces and promotes policy initiatives that build effective and accountable organizations supporting of cities and communities that are inclusive, safe, resilient, and sustainable. SPP is particularly mindful of policy coherence, how one strategy impacts aspects of others. SPP therefore takes a multi-sector-collaborative approach to formulating sound, contextually specific, policies that acknowledge how public problems are ever-changing; therefore, it is imperative that up-to-date policy solutions involving the government, the market, and civil society are implemented.
{% endblocktrans %}
</p>
<p>
{% blocktrans %}
Many of the issues that SPP investigates have strong geographic components; with issues, communities and policies converging on the spatial plane. It is geographic location that in many cases brings these components together and explain the complexity that might otherwise not be understood. Visualizing and analyzing these issues and solutions together, in a geographic space, allows for the understanding of how truly intertwined and complex some of these issues are, and how some of their solutions could be developed.
{% endblocktrans %}
</p>
<p>
{% blocktrans %}
The School of Public Policy is using the <a href="http://geonode.org/" target="_blank">GeoNode</a> webGIS platform to share geographical information - data and maps - to a variety of stakeholders from the communities, organizations and government agencies that it works with to tackle some of the most pressing issues in society.
{% endblocktrans %}
</p>
<img class='items-list thumb' style="border: 1px solid #ccc;margin-top:10px;width: inherit;" src='{% static 'geonode/img/IMG_20190627_104257.jpg' %}' alt="{% trans "A 3d model of Chiang Mai being used to communicate various policy issues with the community." %}" title="{% trans "A 3d model of Chiang Mai being used to communicate various policy issues with the community." %}"/>
<em>{% trans "A 3d model of Chiang Mai being used to communicate various policy issues with the community." %}</em>
<hr>
<img class='items-list thumb' style="border: 1px solid #ccc;margin-top:10px;width: inherit;" src='{% static 'geonode/img/IMG_20190627_110314.jpg' %}' alt="{% trans "GIS layers overlaid and animated on top of the physical 3d model created by SPP." %}" title="{% trans "GIS layers overlaid and animated on top of the physical 3d model created by SPP." %}"/>
<em>{% trans "GIS layers overlaid and animated on top of the physical 3d model created by SPP." %}</em>
<hr>
<img class='items-list thumb' style="border: 1px solid #ccc;margin-top:10px;width: inherit;" src='{% static 'geonode/img/IMG_ORIG_TRANS_STRUCT.jpg' %}' alt="{% trans "A map of Chiang Mai's transportation system." %}" title="{% trans "A map of Chiang Mai's transportation system." %}"/>
<em>{% trans "A map of Chiang Mai's transportation system." %}</em>
<hr>
<img class='items-list thumb' style="border: 1px solid #ccc;margin-top:10px;width: inherit;" src='{% static 'geonode/img/Picture5.jpg' %}' alt="{% trans "A map showing Chiang Mai's residential area growth from 1989 to 2010." %}" title="{% trans "A map showing Chiang Mai's residential area growth from 1989 to 2010." %}"/>
<em>{% trans "A map showing Chiang Mai's residential area growth from 1989 to 2010." %}</em>
<hr>
{% endblock %}
